@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FDD2BF;
}

.box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.city {
  display: flex;
  justify-content: center;
  align-items: center;
}

.city button {
  background-color: #E63E6D;
  margin-right: 10px;
  padding: 2px 10px;
  border: 1px solid #E63E6D;
  color: #FDD2BF;
  font-size: 16px;
  cursor: pointer;
}

.btn-second {
  background-color: transparent !important;
  border: 1px solid #E63E6D !important;
  color: #E63E6D !important;
}

.city button span {
  margin-right: 7px;
}

.city select {
  width: 300px;
  height: 30px;
  outline: none;
  border: 3px solid #E63E6D;
  border-radius: 5px;
  padding: 0 5px;
  text-align: center;
  box-shadow: 0px 0px 2px #000;
}

.dayList {
  list-style-type: none;
  display: flex;
  padding: 20px;
}

.dayList li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
  min-width: 150px;
  padding: 10px;
  box-shadow: 0px 0px 2px #000;
  border: 3px solid #fff;
  background-color: #fff;
}

.dayList li:first-child {
  border-color: #B2DFDB;
  background-color: #B2DFDB;
}

.dayList li .text {
  color: #000;
  font-weight: 600;
  margin: 2px 0;
}

.dayList li img {
  width: 75px;
  margin: 5px 0;
}